@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap");
:root {
  --themeColor: #ee5253;
  --secondaryColor: #f8eaec;
  --optionalColor: #fdf6f6;
}

*,
*::before,
*::after,
*:focus {
  box-sizing: border-box;
}

*:focus {
  box-shadow: none !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .inputField {
    @apply w-full !bg-gray-50 focus:!border-themeColor hover:!border-themeColor !shadow-none;
  }
  .autoCompleteInput input {
    @apply w-full !bg-gray-50 focus:!border-themeColor hover:!border-themeColor !shadow-none;
  }
  .button {
    @apply bg-black hover:!bg-black shadow-none border-0 focus:border-0 focus:shadow-none;
  }
}

/* Swiper / Slider Related */

.swiper-button-prev {
  color: var(--themeColor) !important;
  /* width: 5px !important; */
}

.swiper-button-next {
  color: var(--themeColor) !important;
  /* width: 5px !important; */
}

.swiper-pagination-bullet-active {
  background-color: var(--themeColor) !important;
  border: black !important;
  padding: 2px;
  /* width: 5px !important; */
}

.p-carousel .p-carousel-content .p-carousel-prev:hover,
.p-carousel .p-carousel-content .p-carousel-next:hover {
  background-color: transparent !important;
}
.p-carousel .p-carousel-content .p-carousel-prev,
.p-carousel .p-carousel-content .p-carousel-next {
  width: 3rem;
  height: 3rem;
}

.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
  color: #f7bd45;
  border-color: #f7bd45;
}
.p-rating:not(.p-disabled):not(.p-readonly)
  .p-rating-item:hover
  .p-rating-icon {
  color: #f7bd45;
}
